:root {
    --primary_main: #5C30A1;
    --primary_main_10: #5C30A11A;
    --dark_grey: #292929;
    --grey: #EDEDED;
    --white: #FFFFFF;
    --turquesa-turquesa: #0DC9C2;
    --active_border_15: #0DC9C226;
    --gray-gray-20: #D4D4D4;
    --f45: 45px;
}

* {
    box-sizing: border-box;
}

img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: var(--dark_grey);
}

p {
    font-family: 'Rubik', sans-serif;
    color: var(--dark_grey);
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.7%;
}

p:last-child {
    margin-bottom: 0;
}


a {
    color: var(--primary_main);
    text-decoration: none;
}

a:hover {
    color: var(--dark_grey);
}


*::-webkit-input-placeholder {
    color: #BDBFC1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

*:-ms-input-placeholder {
    color: #BDBFC1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

*::placeholder {
    color: #BDBFC1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}


*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 10px;
}



.ant-btn-primary {
    background-color: var(--primary_main);
    color: var(--white);
    border-color: var(--primary_main);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 162.7%;
    height: auto;
    min-width: 140px;
    box-shadow: 0px 9px 20px -8px var(--primary_main);
    padding: 8px 15px;
    transition: all 0.5s ease;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    box-shadow: none;
    color: white;
    border-color: rgba(92, 48, 161, 0.8);
    background-color: rgba(92, 48, 161, 0.8);
    text-shadow: none
}

.ant-btn-primary[disabled] {
    text-shadow: none;
}

.note-text {
    color: var(--dark_grey);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: block;
    margin-bottom: 8px;
}

.note-text>a {
    color: var(--primary_main);
    text-decoration-line: underline;
    font-weight: 700;
}

/*back*/
.back {
    margin-bottom: 25px;
    display: flex;
}

.back>a {
    display: flex;
    align-items: center;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 600;
    line-height: 162.7%;
}

.back>a .icon {
    width: 20px;
    height: 20px;
    line-height: 0;
    margin-right: 10px;
    position: relative;
    transition: all 0.5s ease;
    left: 0;
}

.back>a:hover .icon {
    left: -4px;
}

/*back end*/


/*button*/
button.ant-btn .ant-btn-loading-icon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0 !important;
    height: 100%;
    background: #eeeaf5bf;
}

/*button end*/

/*form label*/
.ant-form-item,
div.field {
    margin-bottom: 25px;
}

.ant-form-item:last-child,
div.field:last-child {
    margin-bottom: 0;
}

div.ant-form-item .ant-form-item-label>label {
    color: var(--dark_grey);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.687%;
}

span.ant-input-affix-wrapper {
    padding: 0px 11px;
    color: var(--dark_grey);
    font-size: 16px;
    border-color: var(--gray-gray-20);
    ;
    border-radius: 10px;
}

input.ant-input {
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20);
    background: var(--white);
    color: var(--dark_grey);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    padding: 4px 14px;
}

span.ant-input-affix-wrapper>input.ant-input:hover,
span.ant-input-affix-wrapper>input.ant-input:focus {
    padding: 0;
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

span.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
span.ant-input-affix-wrapper:focus,
input.ant-input:hover,
input.ant-input:focus {
    border-color: var(--turquesa-turquesa);
    background: var(--white);
    box-shadow: 0px 2px 6px 0px rgba(1, 107, 103, 0.30);
}



label.ant-checkbox-wrapper {
    color: var(--dark_grey);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.687%;
    display: flex;
    align-items: center;
    cursor: auto;
}

span.ant-checkbox .ant-checkbox-inner {
    width: 25px;
    height: 25px;
    direction: ltr;
    border: 1px solid #A5A9AE;
    border-radius: 4px;
    transition: all 0.3s;
}

label.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
span.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: var(--primary_main);
}

span.ant-checkbox-checked .ant-checkbox-inner,
label.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: var(--primary_main);
    border-color: transparent;
}

span.ant-checkbox .ant-checkbox-inner::after {
    inset-inline-start: 27.5%;
    width: 5.714px;
    height: 12.143px;
    top: 10px;
    left: 6px;
}


@media screen and (max-width:1200px) {
    p {
        font-size: 14px;
    }

    .ant-btn-primary {
        font-size: 14px;
    }

    .back>a {
        font-size: 14px;
    }

    span.ant-input-affix-wrapper {
        font-size: 14px;
    }

    input.ant-input {
        font-size: 14px;
    }

}